<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <style> .teste{ background: #BBBBBB;
            padding:20px; }
            #boxCenter{
                width: 300px;
                border: 15px solid green;
                padding: 50px;
                margin: 20px;
            }
    </style>
</head>
<body>
    <section>
        <div id="header" class="teste">
            <h1>Cabeçalho</h1>

        </div>
    </section>

    <section>
        <div id="menu"> Menu Lateral </div>

          <h3 class="link-titulo">Destaques</h3>
          <ul class="box">
            <li><a href="#">FAQ - CSS</a></li>
            <li><a href="#">QUIZ - CSS</a></li>
            <li ><a href="#">Editor CSS do DWMX 2004</a></li>
            <li ><a href="#">Aprenda CSS desde o início</a></li>
          </ul>

          <h3 class="link-titulo">Fundamentos CSS</h3>
          <ul class="box">
            <li><a href="#">Introdução às CSS</a></li>
            <li><a href="#">Sintaxe CSS</a></li>
              <!-- mais links -->
          </ul>

          <h3 class="link-titulo">CSS em ação</h3>
          <ul class="box">
            <li><a href="#">Font interativo</a></li>
            <li><a href="#">Text interativo</a></li>
            <!-- mais links -->
          </ul>

          <h3 class="link-titulo">Efeitos CSS gerais</h3>
          <ul class="box">
            <li><a href="#">Sombras em textos 1 (desatualizado)</a></li>
            <li><a href="#">Sombras em textos 2 (desatualizado)</a></li>
            <!-- mais links -->
          </ul>

    </section>
        <div id="boxCenter" > Box Center </div>
    <section>

    </section>
</body>
</html>